<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-person-contact-heading">Create or edit a Person Contact</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!personContact.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="personContact.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_type">Type</label>
                    <select class="form-control" name="type" [(ngModel)]="personContact.type" id="field_type"  required>
                        <option value="MAIN">MAIN</option>
                        <option value="PHONE">PHONE</option>
                        <option value="CELLPHONE">CELLPHONE</option>
                        <option value="MAIL">MAIL</option>
                        <option value="FAX">FAX</option>
                        <option value="OTHER">OTHER</option>
                    </select>
                    <div [hidden]="!(editForm.controls.type?.dirty && editForm.controls.type?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.type?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_value">Value</label>
                    <input type="text" class="form-control" name="value" id="field_value"
                        [(ngModel)]="personContact.value" required/>
                    <div [hidden]="!(editForm.controls.value?.dirty && editForm.controls.value?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.value?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_person">Person</label>
                    <select class="form-control" id="field_person" name="person" [(ngModel)]="personContact.personId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="personOption.id" *ngFor="let personOption of people; trackBy: trackPersonById">{{personOption.fullname}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
